<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-center">
    <div class="container">
        <a href="/" class="navbar-brand d-flex w-50 me-auto">Navbar Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/upload-media">Upload Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >My Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Followers/Following</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link">Account</a>
                </li>

               
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            Profile Image
        </div>
        <div class="col-4">@ Welcome</div>
    </div>
</div>