<section class="container-fluid">
    <div class="row">
        <div class="col-2">
          <!-- <a class="mb-3 p-3 shadow  text-center" id="header">Account</a> -->
  
  
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link mb-3 p-3 shadow active text-center" id="v-pills-login-tab" data-toggle="pill"
              href="#v-pills-login" type="button" role="tab" aria-controls="v-pills-login"
              aria-selected="true">Single Media</a>
            <a class="nav-link mb-3 p-3 shadow text-center" id="v-pills-register-tab" data-toggle="pill"
             href="#v-pills-register" type="button" role="tab" aria-controls="v-pills-register"
              aria-selected="false">Multiple Media</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content " id="v-pills-tabContent">
            <div class="tab-pane fade shadow rounded bg-white p-5 show active" id="v-pills-login" role="tabpanel"
              aria-labelledby="v-pills-login-tab">
              <h2 class="text-center">Single Media</h2>
             <app-single-media></app-single-media>
            </div>
            <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-register" role="tabpanel"
              aria-labelledby="v-pills-register-tab">
              <h2 class="text-center">Multiple Media</h2>
            <app-multiple-media></app-multiple-media>
            </div>
          </div>
        </div>
  
      </div>
</section>